
    .missionContainer{
        display: flex;
        flex-direction: column;
        height: 40%;
        img{
            width: 20%;     
            height: 50%;       
        }
        .missionText{
            width: 80%;
            color: black;
            align-self: flex-end;
            margin-right: 20px;
        }
    }