.familyContainer{
    display: flex;    
    margin: 40px;
    border: 5px solid white;
    border-radius: 20px;
    padding: 20px;
    flex: 1;
    // padding-bottom: 75%;
    .picture{
        display: flex;
        height: 100%;
        justify-content: center;
    }
    img{
        // max-width: 350px;
        // max-height: 400px;
    }

    .familyInfo{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        .infoTitle{
            font-weight: bolder;
        }
    }
}

