.paymentContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    .missionText{
        color: black;
    }

    img{
        margin-top: 20px;
    }
}